<app-main-nav>
    <br>
    <div class="row justify-content-center align-items-center g-2-x">                
        <fieldset class="mb-3 row">
            <legend class="col">Search options</legend>                    
        </fieldset>
        <div class="col-4">            
            <div class="d-grid gap-2">
                <mat-form-field>
                    <mat-label for="inputName" class="col">Material name</mat-label>
                    <input type="text" matInput [(ngModel)]="nameSearch">
                </mat-form-field>    
            </div>            
        </div>
        <div class="col">   
            <div class="d-grid gap-2">
                <mat-form-field>
                    <mat-label for="inputName" class="col">Category</mat-label>
                    <mat-select name="category" id="category" [(ngModel)]="categorySearch">
                        <mat-option [value]="0"></mat-option>
                        <mat-option *ngFor="let category of categories" [value]="category.categoryID">{{category.name}}</mat-option>
                    </mat-select>
                </mat-form-field>         
            </div>            
        </div>
        <div class="col">            
            <mat-checkbox color="primary" [(ngModel)]="countFlag">Count > 0</mat-checkbox>            
        </div>
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary" (click)="getAllMaterials()">Get All Materials</button>   
            </div>            
        </div>
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary" (click)="addMaterialButton()">Add Material</button>   
            </div>            
        </div>
        <div class="col">
            <div class="d-grid gap-2">
              <button type="button" name="" id="" class="btn btn-primary" (click)="search()">Search</button>
            </div>
        </div>
    </div>

    <div class="table-responsive-lg">
        <table class="table table-striped
        table-hover	
        table-bordered
        table-primary
        align-middle">
            <thead class="table-light">
                <caption>Materials</caption>
                <tr>
                    <th>MaterialID</th>
                    <th>Name</th>
                    <th>Count</th>
                    <th>Unit</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr class="table-primary" *ngFor="let material of materials">
                        <td scope="row">{{material.materialID}}</td>
                        <td scope="row">{{material.name}}</td>
                        <td scope="row">{{material.count}}</td>
                        <td scope="row">{{material.unit}}</td>
                        <td scope="row">{{material.category.name}}</td>
                        <td scope="row">{{material.price}}</td>
                        <td scope="row">
                            <button type="button" class="btn btn-primary" (click)="updateMaterialButtonClick(material)">Update Material</button>
                        </td>
                        <td scope="row">
                            <button type="button" class="btn btn-primary" (click)="removeMaterial(material.materialID)">Remove Material</button>
                        </td>
                    </tr>                    
                </tbody>
                <tfoot>
                    
                </tfoot>
        </table>
    </div>        
         
    <div class="container" *ngIf="addMaterial">                
        <form>
            <fieldset class="mb-3 row">
                <legend class="col-form-legend col-5">Add new Material</legend>                    
            </fieldset>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Material name</mat-label>
                    <input type="text" matInput class="form-control" name="name" id="name" [(ngModel)]="name" required>                        
                </mat-form-field>            
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Unit</mat-label>
                    <input type="text" matInput class="form-control" name="unit" id="unit" [(ngModel)]="unit" required>                                
                    <mat-hint>Kg, m, l</mat-hint>
                </mat-form-field>            
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Category</mat-label>
                    <mat-select required [(ngModel)]="categoryID" name="category" id="category">
                        <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
                    </mat-select>                    
                </mat-form-field>            
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Price</mat-label>
                    <input type="number" matInput class="form-control" name="price" id="price" [(ngModel)]="price" required>                                                    
                </mat-form-field>            
            </div>
            <div class="mb-3 row">
                <div class="offset-sm-5 col-sm-8">
                    <button type="submit" mat-raised-button class="btn btn-primary" (click)="saveMaterial()">Add</button>
                </div>
            </div>
            <div class="alert alert-primary" role="alert" *ngIf="dataNotFilled">
                <strong>Data not filled:</strong> Fill all data
            </div>            
        </form>
    </div>

    <div class="container" *ngIf="updateMaterialButton">                
        <form>
            <fieldset class="mb-3 row">
                <legend class="col-form-legend col-5">
                    Update Material                    
                </legend>                    
            </fieldset>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Material name</mat-label>
                    <input type="text" matInput class="form-control" name="name" id="name" [(ngModel)]="updateName">                        
                </mat-form-field>            
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Unit</mat-label>
                    <input type="text" matInput class="form-control" name="unit" id="unit" [(ngModel)]="updateUnit">                                
                    <mat-hint>Kg, m, l</mat-hint>
                </mat-form-field>            
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Category</mat-label>
                    <mat-select [(ngModel)]="updateCategoryID" name="updateCategory" id="updateCategory">
                        <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
                    </mat-select>                    
                </mat-form-field>            
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Price</mat-label>
                    <input type="number" matInput class="form-control" name="price" id="price" [(ngModel)]="updatePrice">                                                    
                </mat-form-field>            
            </div>
            <div class="mb-3 row">
                <div class="offset-sm-5 col-sm-8">
                    <button type="submit" mat-raised-button class="btn btn-primary" (click)="updateMaterial()">Update</button>
                </div>
            </div>                        
        </form>
    </div>

</app-main-nav>