<app-main-nav>        
    <br>
    <div class="row justify-content-center align-items-center g-2-x">                
        <fieldset class="mb-3 row">
            <legend class="col">Search options</legend>                    
        </fieldset>
        <div class="col-3">   
            <div class="d-grid gap-2">
                <mat-form-field>
                    <mat-label for="model" class="col-4 col-form-label">Model</mat-label>
                    <mat-select name="model" id="model" [(ngModel)]="modelSearch">
                        <mat-option *ngFor="let model of modelSelect" [value]="model.modelID">
                            {{model.name}}
                        </mat-option>
                    </mat-select>                                            
                </mat-form-field>         
            </div>            
        </div>
        <div class="col">            
            <mat-checkbox color="primary" [(ngModel)]="countFlag">Count > 0</mat-checkbox>            
        </div>
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary" (click)="getAllProducts()">Get All Products</button>   
            </div>            
        </div>
        <div class="col">
            <div class="d-grid gap-2">
              <button type="button" name="" id="" class="btn btn-primary" (click)="search()">Search</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Product
        </div>
        <mat-accordion class="example-headers-align" multi>        
            <mat-expansion-panel *ngFor="let product of products">
                <mat-expansion-panel-header>                                        
                    <ul class="list-group list-group-horizontal-xl">
                        <li class="list-group-item">
                            ProductID:{{product.productID}} 
                        </li>
                        <li class="list-group-item">
                            Model: {{product.model.name}}
                        </li>
                        <li class="list-group-item">
                            Dimension: {{product.height}}X{{product.width}}X{{product.depth}}
                        </li>
                        <li class="list-group-item">
                            Count: {{product.count}}
                        </li>
                        <li class="list-group-item">
                            Price: {{product.price}}
                        </li>
                        <li class="list-group-item">
                            <button mat-raised-button type="button" class="btn btn-primary" color="primary"
                            (click)="updateProductButton(product)">
                                Update
                            </button>
                        </li>                        
                        <li class="list-group-item" *ngIf="product.count == 0">
                            <button mat-raised-button type="button" class="btn btn-primary" color="warn"
                            (click)="deleteProduct(product.productID)">
                                Remove
                            </button>
                        </li>                        
                    </ul>
                </mat-expansion-panel-header>
                <br>
                <strong>Material used</strong>
                <br>
                <mat-panel-description>                    
                    <ul class="list-group list-group-numbered">
                        <li class="list-group-item">Material name</li>
                        <li class="list-group-item">Amount</li>                                                
                    </ul>
                    <ul class="list-group list-group-numbered" *ngFor="let matUsed of product.materialUsedList">
                        <li class="list-group-item">{{printNameMaterial(matUsed.materialUsedPK.materialID)}}</li>
                        <li class="list-group-item">{{matUsed.amount}}{{printUnitMaterial(matUsed.materialUsedPK.materialID)}}</li>                                                
                    </ul>
                    <button type="button" class="btn btn-primary" (click)="updateMaterialUsedClick(product.materialUsedList)">
                        Update Material Used
                    </button>
                </mat-panel-description>
                <mat-action-row>
                    <div class="row justify-content-center align-items-center g-2">
                        <div class="col-3">
                            Amount of product to add
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label for="inputName" class="col-4 col-form-label">Amount</mat-label>
                                <input type="number" matInput class="form-control" name="addProduct" id="addProduct" required 
                                [(ngModel)] = "addAmount">                                            
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary" (click)="addProduct(product.productID)">
                                Add product
                            </button>
                        </div>
                    </div>
                </mat-action-row>
            </mat-expansion-panel>
            
        </mat-accordion>
    </div>    
    <br>
    <button type="button" class="btn btn-primary col-2" (click)="addProductButton = true">Add product</button>  
    <mat-divider></mat-divider>
    <br>
    <div class="container" *ngIf="addProductButton">                
        <form>
            <fieldset class="mb-3 row">
                <legend class="col-form-legend col-5">Add new Product</legend>                    
            </fieldset>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Height</mat-label>
                    <input type="number" matInput class="form-control" name="height" id="height" required [(ngModel)]="addHeight">                                            
                </mat-form-field>                                            
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Width</mat-label>
                    <input type="number" matInput class="form-control" name="width" id="width" required [(ngModel)]="addWidth">                                            
                </mat-form-field>
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Depth</mat-label>
                    <input type="number" matInput class="form-control" name="depth" id="depth" required [(ngModel)]="addDepth">                                            
                </mat-form-field>
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Price</mat-label>
                    <input type="number" matInput class="form-control" name="price" id="price" required [(ngModel)]="addPrice">                                            
                </mat-form-field>
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="model" class="col-4 col-form-label">Model</mat-label>
                    <mat-select required name="model" id="model" [(ngModel)]="addModel">
                        <mat-option *ngFor="let model of modelSelect" [value]="model">
                            {{model.name}}
                        </mat-option>
                    </mat-select>                                            
                </mat-form-field>            
            </div>                   
            <div class="mb-3 row" *ngFor="let matUsed of addMaterialUsed; let i = index">
                <mat-form-field class="col-4">
                    <mat-label for="inputName" class="col-4 col-form-label">Material</mat-label>
                    <mat-select required name="category" id="category" [value]="matUsed.materialUsedPK.materialID"
                    (selectionChange)="onChangeMaterial($event, i)">
                        <mat-option *ngFor="let material of materialSelect" [value]="material.materialID">
                            {{material.name}}
                        </mat-option>
                    </mat-select>                        
                </mat-form-field>
                <mat-form-field class="col-4">
                    <mat-label for="inputName" class="col-4 col-form-label">Amount</mat-label>
                    <input type="number" matInput min="1" [(ngModel)]="matUsed.amount" class="form-control" name="amount" id="amount" required>                        
                </mat-form-field>
                <div class="col-3">
                    <button type="submit" color="warn" mat-raised-button class="btn btn-primary" (click)="removeMaterial(i)">
                        Remove Material
                    </button>
                </div>            
            </div>
            <div class="col-3">
                <button type="submit" mat-raised-button class="btn btn-primary" (click)="addMoreMaterial()">Add More Materials</button>
            </div>                            
            <div class="mb-3 row">
                <div class="offset-sm-5 col-sm-8">
                    <button type="submit" mat-raised-button class="btn btn-primary" (click)="saveProduct()">Add</button>
                </div>
            </div>
            <div class="alert alert-primary" role="alert" *ngIf="dataNotFilled">
                <strong>Data not filled:</strong> Fill all data
            </div>            
        </form>
    </div>  

    <div class="container" *ngIf="updateProduct">                
        <form>
            <fieldset class="mb-3 row">
                <legend class="col-form-legend col-5">Update Product</legend>                    
            </fieldset>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Height</mat-label>
                    <input type="number" matInput class="form-control" name="height" id="height" required [(ngModel)]="updateHeight">                                            
                </mat-form-field>                                            
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Width</mat-label>
                    <input type="number" matInput class="form-control" name="width" id="width" required [(ngModel)]="updateWidth">                                            
                </mat-form-field>
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Depth</mat-label>
                    <input type="number" matInput class="form-control" name="depth" id="depth" required [(ngModel)]="updateDepth">                                            
                </mat-form-field>
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Price</mat-label>
                    <input type="number" matInput class="form-control" name="price" id="price" required [(ngModel)]="updatePrice">                                            
                </mat-form-field>
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="model" class="col-4 col-form-label">Model</mat-label>
                    <mat-select required name="model" id="model" [(ngModel)]="updateModel">
                        <mat-option *ngFor="let model of modelSelect" [value]="model">
                            {{model.name}}
                        </mat-option>
                    </mat-select>                                            
                </mat-form-field>            
            </div>                                                                       
            <div class="mb-3 row">
                <div class="offset-sm-5 col-sm-8">
                    <button type="submit" mat-raised-button class="btn btn-primary" (click)="updateProductButtonClick()">
                        Update
                    </button>
                </div>
            </div>                        
        </form>
    </div>

    <div class="container" *ngIf="updateMaterialUsedBool">                
        <form>
            <fieldset class="mb-3 row">
                <legend class="col-form-legend col-5">Update Material Used</legend>                    
            </fieldset>
            <div class="mb-3 row" *ngFor="let matUsed of updateMaterialUsed; let i = index">
                <mat-form-field class="col-4">
                    <mat-label for="inputName" class="col-4 col-form-label">Material</mat-label>
                    <mat-select required name="category" id="category" [value]="matUsed.materialUsedPK.materialID"
                    (selectionChange)="onChangeMaterialUpdate($event, i)">
                        <mat-option *ngFor="let material of materialSelect" [value]="material.materialID">
                            {{material.name}}
                        </mat-option>
                    </mat-select>                        
                </mat-form-field>
                <mat-form-field class="col-4">
                    <mat-label for="inputName" class="col-4 col-form-label">Amount</mat-label>
                    <input type="number" matInput min="1" [(ngModel)]="matUsed.amount" class="form-control" name="amount" id="amount" required>                        
                </mat-form-field>
                <div class="col-3">
                    <button type="submit" color="warn" mat-raised-button class="btn btn-primary" (click)="removeMaterialUpdate(i)">
                        Remove Material
                    </button>
                </div> 
            </div>                        
        </form>
        <div class="col-3">
            <button type="submit" mat-raised-button class="btn btn-primary" (click)="addMoreUpdateMaterial()">Add More Materials</button>
        </div>                            
        <div class="mb-3 row">
            <div class="offset-sm-5 col-sm-8">
                <button type="submit" mat-raised-button class="btn btn-primary" (click)="updateMaterialUsedClickFinal()">
                    Update Material Used
                </button>
            </div>
        </div>
    </div>

</app-main-nav>