<br>


<fieldset class="mb-3 row">
    <legend class="col-form-legend col-5">Welcome, {{user.firstname}} {{user.lastname}}</legend>    
</fieldset>

<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        
        <div class="d-grid gap-2">
          <button type="button" name="" id="" class="btn btn-primary">Button</button>
        </div>
        <div class="d-grid gap-2">
          <button type="button" name="" id="" class="btn btn-primary">Category</button>
        </div>        
        <div class="d-grid gap-2">
            <button type="button" name="" id="" class="btn btn-primary">Update User</button>
          </div>        
        <div class="d-grid gap-2">
            <button type="button" name="" id="" class="btn btn-primary">Log out</button>
        </div>


    </mat-drawer>
    <mat-drawer-content>

        <div class="table-responsive-sm">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Column 1</th>
                        <th scope="col">Column 2</th>
                        <th scope="col">Column 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">R1C1</td>
                        <td>R1C2</td>
                        <td>R1C3</td>
                    </tr>
                    <tr class="">
                        <td scope="row">Item</td>
                        <td>Item</td>
                        <td>Item</td>
                    </tr>
                </tbody>
            </table>
        </div>
        

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </mat-drawer-content>
</mat-drawer-container>

