<mat-toolbar color="primary">
    
<mat-toolbar-row>       
    <mat-toolbar-row>
        <div class="row-cols-4 justify-content-center align-items-center g-2">
            <div class="col">
                <div class="d-grid gap-2">
                    <button type="button" mat-icon-button name="" id="" (click)="opened = !opened">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>            
            </div>        
        </div>    
        <div class="row-cols-4 justify-content-center align-items-center g-2">
            <div class="col">
                <div class="d-grid gap-2">
                    <div class="card-header">
                        Welcome, {{user.firstname}} {{user.lastname}}
                    </div>        
                </div>
            </div>
        </div>
    </mat-toolbar-row>

</mat-toolbar-row>
    
</mat-toolbar>

<mat-drawer-container #drawer class="example-container">
    <mat-drawer mode="side" #drawer [(opened)]="opened">                
        <div class="d-grid gap-2">
            <a name="category" id="category" class="btn btn-primary" href="" role="button"></a>
        </div>
        <div class="d-grid gap-2">          
            <a name="category" id="category" class="btn btn-primary" href="/category" role="button">Category</a>
        </div>        
        <div class="d-grid gap-2">
            <a name="category" id="category" class="btn btn-primary" href="" role="button">Update user</a>
        </div>        
        <div class="d-grid gap-2">
            <a name="category" id="category" class="btn btn-primary" href="/" role="button">Log out</a>
        </div>                
    </mat-drawer>
    <mat-drawer-content>

        <div class="table-responsive-sm">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Column 1</th>
                        <th scope="col">Column 2</th>
                        <th scope="col">Column 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">R1C1</td>
                        <td>R1C2</td>
                        <td>R1C3</td>
                    </tr>
                    <tr class="">
                        <td scope="row">Item</td>
                        <td>Item</td>
                        <td>Item</td>
                    </tr>
                </tbody>
            </table>
        </div>                

    </mat-drawer-content>
</mat-drawer-container>

