<app-main-nav>        
    <br>
    <div class="row justify-content-center align-items-center g-2-x">                
        <fieldset class="mb-3 row">
            <legend class="col">Serach options</legend>                    
        </fieldset>
        <div class="col-3">   
            <div class="d-grid gap-2">
                <mat-form-field>
                    <mat-label for="model" class="col-4 col-form-label">Contract</mat-label>
                    <mat-select name="model" id="model" [(ngModel)]="contractSearch">
                        <mat-option *ngFor="let contract of contractSelect" [value]="contract.contractID">
                            {{contract.contractID}}.{{contract.client.name}}
                        </mat-option>
                    </mat-select>                                            
                </mat-form-field>         
            </div>            
        </div>
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary" (click)="getAllOrders()">Get All Products</button>   
            </div>            
        </div>
        <div class="col">
            <div class="d-grid gap-2">
              <button type="button" name="" id="" class="btn btn-primary" (click)="search()">Search</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Orders
        </div>
        <mat-accordion class="example-headers-align" multi>        
            <mat-expansion-panel *ngFor="let order of orders">
                <mat-expansion-panel-header>                                        
                    <ul class="list-group list-group-horizontal-xl">
                        <li class="list-group-item">
                            OrderID:{{order.orderID}} 
                        </li>
                        <li class="list-group-item">
                            Status: {{order.status}}
                        </li>
                        <li class="list-group-item">
                            Date send: {{order.dateSend | date:'dd.MM.yyyy.'}}
                        </li>
                        <li class="list-group-item">
                            Date arrived: {{order.dateArrived == null ? "Not arrived" :order.dateArrived | date:'dd.MM.yyyy.'}}
                        </li>
                        <li class="list-group-item">
                            ContractID: {{order.contract.contractID}}
                        </li>
                        <li class="list-group-item" *ngIf="order.dateArrived == null">
                            <button mat-raised-button type="button" class="btn btn-primary" (click)="arrived(order.orderID)">
                                Arrived
                            </button>
                        </li>
                        <li class="list-group-item">
                            <button mat-raised-button type="button" class="btn btn-primary" color="primary" (click)="updateOrderButton(order)">
                                Update
                            </button>
                        </li>                        
                        <li class="list-group-item" *ngIf="order.dateArrived == null">
                            <button mat-raised-button type="button" class="btn btn-primary" color="warn">
                                Remove
                            </button>
                        </li>                        
                    </ul>
                </mat-expansion-panel-header>
                <br>
                <strong>Items in order</strong>
                <br>
                <mat-panel-description>                    
                    <ul class="list-group list-group-numbered">
                        <li class="list-group-item">Product name</li>
                        <li class="list-group-item">Amount</li>                                                
                    </ul>
                    <ul class="list-group list-group-numbered" *ngFor="let items of order.itemList">
                        <li class="list-group-item">{{items.itemPK.productID}}</li>
                        <li class="list-group-item">{{items.amount}}</li>                                                
                    </ul>
                    <button type="button" class="btn btn-primary" (click)="updateItemClick(order.itemList)">
                        Update Items
                    </button>
                </mat-panel-description>
            </mat-expansion-panel>
            
        </mat-accordion>
    </div>    
    <br>
    <button type="button" class="btn btn-primary col-2" (click)="addOrdersButton = true">Add Order</button>  
    <mat-divider></mat-divider>
    <br>
    <div class="container" *ngIf="addOrdersButton">                
        <form>
            <fieldset class="mb-3 row">
                <legend class="col-form-legend col-5">Add new Order</legend>                    
            </fieldset>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="model" class="col-4 col-form-label">Contract</mat-label>
                    <mat-select required name="model" id="model" [(ngModel)]="addContract">
                        <mat-option *ngFor="let contract of contractSelect" [value]="contract">
                            {{contract.contractID}}.{{contract.client.name}}
                        </mat-option>
                    </mat-select>                                            
                </mat-form-field>            
            </div>                   
            <div class="mb-3 row" *ngFor="let items of addItems; let i = index">
                <mat-form-field class="col-4">
                    <mat-label for="inputName" class="col-4 col-form-label">Product</mat-label>
                    <mat-select required name="category" id="category" [value]="items.itemPK.productID"
                    (selectionChange)="onChangeProduct($event, i)">
                        <mat-option *ngFor="let product of productSelect" [value]="product.productID">
                            {{product.productID}} {{product.height}}X{{product.width}}X{{product.depth}} {{product.model.name}}
                        </mat-option>
                    </mat-select>                        
                </mat-form-field>
                <mat-form-field class="col-4">
                    <mat-label for="inputName" class="col-4 col-form-label">Amount</mat-label>
                    <input type="number" matInput min="1" [(ngModel)]="items.amount" class="form-control" name="amount" id="amount" required>                        
                </mat-form-field>
                <div class="col-3">
                    <button type="submit" color="warn" mat-raised-button class="btn btn-primary" (click)="removeProduct(i)">
                        Remove Prodcut
                    </button>
                </div>            
            </div>
            <div class="col-3">
                <button type="submit" mat-raised-button class="btn btn-primary" (click)="addMoreProduct()">Add More Products</button>
            </div>                            
            <div class="mb-3 row">
                <div class="offset-sm-5 col-sm-8">
                    <button type="submit" mat-raised-button class="btn btn-primary" (click)="saveOrder()">Add</button>
                </div>
            </div>
            <div class="alert alert-primary" role="alert" *ngIf="dataNotFilled">
                <strong>Data not filled:</strong> Fill all data
            </div>            
        </form>
    </div>  

    <div class="container" *ngIf="updateOrder">                
        <form>
            <fieldset class="mb-3 row">
                <legend class="col-form-legend col-5">Update Order</legend>                    
            </fieldset>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="model" class="col-4 col-form-label">Contract</mat-label>
                    <mat-select required name="model" id="model" [(value)]="updateContract">
                        <mat-option *ngFor="let contract of contractSelect" [value]="contract">
                            {{contract.contractID}}.{{contract.client.name}}
                        </mat-option>
                    </mat-select>                                            
                </mat-form-field>            
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Date send</mat-label>                                        
                    <input matInput [matDatepicker]="dateSigned" [(ngModel)]="updateDateSend"
                    [max]="this.minMaxDate" class="form-control" name="dateSigned" id="dateSigned" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="dateSigned"></mat-datepicker-toggle>
                    <mat-datepicker #dateSigned></mat-datepicker>
                </mat-form-field>            
            </div>                                                                      
            <div class="mb-3 row">
                <div class="offset-sm-5 col-sm-8">
                    <button type="submit" mat-raised-button class="btn btn-primary" (click)="updateOrderButtonClick()">
                        Update
                    </button>
                </div>
            </div>                        
        </form>
    </div>

    <div class="container" *ngIf="updateItemsBool">                
        <form>
            <fieldset class="mb-3 row">
                <legend class="col-form-legend col-5">Update Material Used</legend>                    
            </fieldset>
            <div class="mb-3 row" *ngFor="let items of updateItem; let i = index">
                <mat-form-field class="col-4">
                    <mat-label for="inputName" class="col-4 col-form-label">Product</mat-label>
                    <mat-select required name="category" id="category" [(value)]="items.itemPK.productID"
                    (selectionChange)="onChangeProduct($event, i)">
                        <mat-option *ngFor="let product of productSelect" [value]="product.productID">
                            {{product.productID}} {{product.height}}X{{product.width}}X{{product.depth}} {{product.model.name}}
                        </mat-option>
                    </mat-select>                        
                </mat-form-field>
                <mat-form-field class="col-4">
                    <mat-label for="inputName" class="col-4 col-form-label">Amount</mat-label>
                    <input type="number" matInput min="1" [(ngModel)]="items.amount" class="form-control" name="amount" id="amount" required>                        
                </mat-form-field>
                <div class="col-3">
                    <button type="submit" color="warn" mat-raised-button class="btn btn-primary" (click)="removeItemUpdate(i)">
                        Remove Prodcut
                    </button>
                </div>            
            </div>                        
        </form>
        <div class="col-3">
            <button type="submit" mat-raised-button class="btn btn-primary" (click)="addMoreItem()">Add More Materials</button>
        </div>                            
        <div class="mb-3 row">
            <div class="offset-sm-5 col-sm-8">
                <button type="submit" mat-raised-button class="btn btn-primary" (click)="updateItemUsedClickFinal()">
                    Update Material Used
                </button>
            </div>
        </div>
    </div>

</app-main-nav>