<app-main-nav>
    <br>
    <div class="row justify-content-center align-items-center g-2-x">                
        <fieldset class="mb-3 row">
            <legend class="col">Serach options</legend>                    
        </fieldset>
        <div class="col-4">            
            <div class="d-grid gap-2">
                <mat-form-field>
                    <mat-label for="inputName" class="col">Category name</mat-label>
                    <input type="text" matInput [(ngModel)]="nameSearch">
                </mat-form-field>    
            </div>            
        </div>                
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary" (click)="getAllCategories()">Get All Categories</button>   
            </div>            
        </div>
        <div class="col">
            <div class="d-grid gap-2">                
                <button type="button" class="btn btn-primary" (click)="addCategoryButton()">Add Category</button>        
            </div>            
        </div>
        <div class="col">
            <div class="d-grid gap-2">
              <button type="button" name="" id="" class="btn btn-primary" (click)="search()">Search</button>
            </div>
        </div>
    </div>

    <div class="table-responsive-lg">
        <table class="table table-striped
        table-hover	
        table-bordered
        table-primary
        align-middle">
            <thead>
                <caption>Categories</caption>
                <tr>
                    <th scope="col">Category ID</th>
                    <th scope="col">Category Name</th>                        
                    <th scope="col">Update</th>
                    <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" *ngFor="let category of categories; let i = index">
                    <td scope="row">{{category.categoryID}}</td>
                    <td scope="row">{{category.name}}</td>
                    <td scope="row">
                        <button type="button" class="btn btn-primary" (click)="setUpdateCategory(category)">Update Category</button>
                    </td>
                    <td scope="row">
                        <button type="button" class="btn btn-primary" (click)="removeCategory(category.categoryID)">Remove Category</button>
                    </td>
                </tr>                    
            </tbody>
        </table>
    </div>
    
    
    <div class="container" *ngIf="addCategory">
        <form>
            <fieldset class="mb-3 row">
                <legend class="col-form-legend col-5">Add new Category</legend>                    
            </fieldset>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Category name</mat-label>
                    <input type="text" matInput class="form-control" name="username" id="username" [(ngModel)]="categoryName" required>                                
                </mat-form-field>            
            </div>
            <div class="mb-3 row">
                <div class="offset-sm-5 col-sm-8">
                    <button type="submit" mat-raised-button class="btn btn-primary" (click)="saveCategory()">Add</button>
                </div>
            </div>
        </form>
    </div>        

    <div class="container" *ngIf="updateCategoryBool">
        <form>
            <fieldset class="mb-3 row">
                <legend class="col-form-legend col-5">Update Category</legend>                    
            </fieldset>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Category name</mat-label>
                    <input type="text" matInput class="form-control" name="updateCategoryName" id="updateCategoryName" [(ngModel)]="updateCategoryName" required>                                
                </mat-form-field>            
            </div>
            <div class="mb-3 row">
                <div class="offset-sm-5 col-sm-8">
                    <button type="submit" mat-raised-button class="btn btn-primary" (click)="updateCategory()">Update</button>
                </div>
            </div>
        </form>
    </div>
</app-main-nav>