<app-main-nav>
    <div class="table-responsive-sm">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">Category ID</th>
                    <th scope="col">Category Name</th>                        
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" *ngFor="let category of categories; let i = index">
                    <td scope="row">{{category.categoryID}}</td>
                    <td>                            
                        {{category.name}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="setUpdateCategory(category)">Update Category</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="removeCategory(category.categoryID)">Remove Category</button>
                    </td>
                </tr>                    
            </tbody>
        </table>
    </div>
    
    <button type="button" class="btn btn-primary" (click)="addCategoryButton()">Add Category</button>        
    <div class="container" *ngIf="addCategory">
        <form>
            <fieldset class="mb-3 row">
                <legend class="col-form-legend col-5">Add new Category</legend>                    
            </fieldset>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Category name</mat-label>
                    <input type="text" matInput class="form-control" name="username" id="username" [(ngModel)]="categoryName" required>                                
                </mat-form-field>            
            </div>
            <div class="mb-3 row">
                <div class="offset-sm-5 col-sm-8">
                    <button type="submit" mat-raised-button class="btn btn-primary" (click)="saveCategory()">Add</button>
                </div>
            </div>
        </form>
    </div>        

    <div class="container" *ngIf="updateCategoryBool">
        <form>
            <fieldset class="mb-3 row">
                <legend class="col-form-legend col-5">Update Category</legend>                    
            </fieldset>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Category name</mat-label>
                    <input type="text" matInput class="form-control" name="updateCategoryName" id="updateCategoryName" [(ngModel)]="updateCategoryName" required>                                
                </mat-form-field>            
            </div>
            <div class="mb-3 row">
                <div class="offset-sm-5 col-sm-8">
                    <button type="submit" mat-raised-button class="btn btn-primary" (click)="updateCategory()">Update</button>
                </div>
            </div>
        </form>
    </div>
</app-main-nav>