<app-main-nav>
    <br>
    <div class="row justify-content-center align-items-center g-2-x">                                
        <div class="col-3">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary" (click)="this.addContract = true">Add Contract</button>   
            </div>            
        </div>                                    
        <div class="col-3">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary" (click)="getAllContracts()">Get All Contracts</button>   
            </div>                                    
        </div>
        <div class="col-3">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary" (click)="getAllValidContracts()">Get All Valid Contracts</button>   
            </div>
        </div>
    </div>
    
    <mat-divider></mat-divider>
    <fieldset class="mb-3 row">
        <legend class="col">Serach options</legend>                    
    </fieldset>

    <div class="row justify-content-center align-items-center g-2-x">                        
        <div class="col-3">            
            <div class="d-grid gap-2">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Client</mat-label>                                        
                    <mat-select name="client" id="category" [(ngModel)]="clientSearch">                        
                        <mat-option [value]="null"></mat-option>
                        <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
                    </mat-select>
                </mat-form-field>    
            </div>            
        </div>                           
        <div class="col-3">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary" (click)="getAllContractsByClient(clientSearch)">Get All Client Contracts</button>   
            </div>                                    
        </div>
        <div class="col-3">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary" (click)="getNewestContractByClient(clientSearch)">
                    Get Newest Valid Client Contracts
                </button>   
            </div>                                    
        </div>
        <div class="col-3">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary" (click)="getSumOfAllContractsByClient(clientSearch)">
                    Get Sum Money of Client Contracts
                </button>   
            </div>                                    
        </div>
        <fieldset class="col-2">
            <legend></legend>                    
        </fieldset>
    </div>    
    <mat-divider></mat-divider>    
    <div class="table-responsive-lg" *ngIf="showTable">
        <table class="table table-striped
        table-hover	
        table-bordered
        table-primary
        align-middle">
            <thead class="table-light">
                <caption>Client</caption> 
                <strong>{{clientTableName}}</strong>
                <tr>                   
                    <th>Money</th>
                    <th>Currency</th>                    
                </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr class="table-primary" *ngFor="let num of sumTable; let n in index">                           
                        <td scope="row">{{num[1]}}</td>
                        <td scope="row">{{num[0]}}</td>                        
                    </tr>                    
                </tbody>
                <tfoot>                    
                </tfoot>
        </table>        
    </div>
    <mat-divider></mat-divider>    
    <div class="table-responsive-lg">
        <table class="table table-striped
        table-hover	
        table-bordered
        table-primary
        align-middle">
            <thead class="table-light">
                <caption>Contract</caption>
                <tr>
                    <th>ContractID</th>
                    <th>Client</th>
                    <th>Date signed</th>
                    <th>Payment date</th>
                    <th>Valid untill</th>
                    <th>Money</th>
                    <th>Currency</th>
                    <th>Valid</th>                    
                    <th>Change</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr class="table-primary" *ngFor="let contract of contracts">
                        <td scope="row">{{contract.contractID}}</td>
                        <td scope="row">{{contract.client.name}}</td>
                        <td scope="row">{{contract.dateSigned | date:'dd.MM.yyyy.'}}</td>
                        <td scope="row">{{contract.paymentDate | date:'dd.MM.yyyy.'}}</td>
                        <td scope="row">{{contract.validUntil | date:'dd.MM.yyyy.'}}</td>
                        <td scope="row">{{contract.money}}</td>
                        <td scope="row">{{contract.currency}}</td>
                        <td scope="row">{{contract.valid}}</td>
                        <td scope="row">
                            <button type="button" class="btn btn-primary" (click)="changeValid(contract.contractID)">Change valid</button>
                        </td>
                        <td scope="row">
                            <button type="button" class="btn btn-primary" (click)="updateContractButton(contract)">Update Contract</button>
                        </td>
                        <td scope="row">
                            <button type="button" class="btn btn-primary" (click)="removeContract(contract.contractID)">Remove Contract</button>
                        </td>
                    </tr>                    
                </tbody>
                <tfoot>
                    
                </tfoot>
        </table>        
    </div>
    <div class="container" *ngIf="addContract">                
        <form>
            <fieldset class="mb-3 row">
                <legend class="col-form-legend col-5">Add new Contract</legend>                    
            </fieldset>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Client</mat-label>                                        
                    <mat-select name="client" id="category" [(ngModel)]="clientID">                        
                        <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Date signed</mat-label>                                        
                    <input matInput [matDatepicker]="dateSigned" [(ngModel)]="dateSignedData"
                    [max]="this.minMaxDate" class="form-control" name="dateSigned" id="dateSigned" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="dateSigned"></mat-datepicker-toggle>
                    <mat-datepicker #dateSigned></mat-datepicker>
                </mat-form-field>            
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Payment date</mat-label>                                        
                    <input matInput [matDatepicker]="paymentDate" [(ngModel)]="paymentDateData"
                    [min]="this.minMaxDate" class="form-control" name="paymentDate" id="paymentDate" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="paymentDate"></mat-datepicker-toggle>
                    <mat-datepicker #paymentDate></mat-datepicker>                                                    
                </mat-form-field>            
            </div>                        
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Valid unitll</mat-label>                                        
                    <input matInput [matDatepicker]="valid" [(ngModel)]="validUntilData"
                    [min]="this.minMaxDate" class="form-control" name="valid" id="valid" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="valid"></mat-datepicker-toggle>
                    <mat-datepicker #valid></mat-datepicker>                                                    
                </mat-form-field>
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Money</mat-label>                                        
                    <input matInput type="number" [(ngModel)]="money" min="0" class="form-control" name="money" id="money" required>                    
                </mat-form-field>
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Currency</mat-label>                                        
                    <input matInput [(ngModel)]="currency" type="text" class="form-control" name="currency" id="currency" required>                    
                </mat-form-field>
            </div>       
            <div class="mb-3 row">
                <div class="offset-sm-5 col-sm-8">
                    <button type="submit" mat-raised-button class="btn btn-primary" (click)="saveContract()">Add</button>
                </div>
            </div>     
            <div class="alert alert-primary" role="alert" *ngIf="dataNotFilled">
                <strong>Data not filled:</strong> Fill all data
            </div>            
        </form>
    </div>

    <div class="container" *ngIf="updateContract">                
        <form>
            <fieldset class="mb-3 row">
                <legend class="col-form-legend col-5">Update Contract</legend>                    
            </fieldset>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Client</mat-label>                                        
                    <mat-select name="client" id="category" [(ngModel)]="updateClient">                        
                        <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Date signed</mat-label>                                        
                    <input matInput [matDatepicker]="dateSigned" [(ngModel)]="updateDateSignedData"
                    [max]="this.minMaxDate" class="form-control" name="dateSigned" id="dateSigned" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="dateSigned"></mat-datepicker-toggle>
                    <mat-datepicker #dateSigned></mat-datepicker>
                </mat-form-field>            
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Payment date</mat-label>                                        
                    <input matInput [matDatepicker]="paymentDate" [(ngModel)]="updatePaymentDateData"
                    [min]="this.minMaxDate" class="form-control" name="paymentDate" id="paymentDate" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="paymentDate"></mat-datepicker-toggle>
                    <mat-datepicker #paymentDate></mat-datepicker>                                                    
                </mat-form-field>            
            </div>                        
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Valid unitll</mat-label>                                        
                    <input matInput [matDatepicker]="valid" [(ngModel)]="updateValidUntilData"
                    [min]="this.minMaxDate" class="form-control" name="valid" id="valid" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="valid"></mat-datepicker-toggle>
                    <mat-datepicker #valid></mat-datepicker>                                                    
                </mat-form-field>
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Money</mat-label>                                        
                    <input matInput type="number" [(ngModel)]="updateMoney" min="0" class="form-control" name="money" id="money" required>                    
                </mat-form-field>
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Currency</mat-label>                                        
                    <input matInput [(ngModel)]="updateCurrency" type="text" class="form-control" name="currency" id="currency" required>                    
                </mat-form-field>
            </div>       
            <div class="mb-3 row">
                <div class="offset-sm-5 col-sm-8">
                    <button type="submit" mat-raised-button class="btn btn-primary" (click)="updateContractClick()">Update</button>
                </div>
            </div>                             
        </form>
    </div>
</app-main-nav>