<app-main-nav>            
    <br>
    <div class="row justify-content-center align-items-center g-2-x">                
        <fieldset class="mb-3 row">
            <legend class="col">Serach options</legend>                    
        </fieldset>
        <div class="col-3">   
            <div class="d-grid gap-2">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Supplier name</mat-label>
                    <input type="text" matInput class="form-control" name="name" id="name" required [(ngModel)]="searchName">                                            
                </mat-form-field>         
            </div>            
        </div>
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary" (click)="getAllSupplies()">Get All Supplies</button>   
            </div>            
        </div>
        <div class="col">
            <div class="d-grid gap-2">
              <button type="button" name="" id="" class="btn btn-primary" (click)="search()">Search</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Supply
        </div>
        <mat-accordion class="example-headers-align" multi>        
            <mat-expansion-panel *ngFor="let supply of supplies">
                <mat-expansion-panel-header>                                        
                    <ul class="list-group list-group-horizontal-xl">
                        <li class="list-group-item">
                            SupplyID:{{supply.supplyID}} 
                        </li>
                        <li class="list-group-item">
                            Supply Name: {{supply.name}}
                        </li>
                        <li class="list-group-item">
                            Date Ordered: {{supply.dateOrdered | date:'dd.MM.yyyy.'}}
                        </li>
                        <li class="list-group-item">
                            Date Arrived: {{supply.dateArrived == null ? "Not arrived" : supply.dateArrived | date:'dd.MM.yyyy.'}}
                        </li>
                        <li class="list-group-item" *ngIf="supply.dateArrived == null">
                            <button mat-raised-button type="button" class="btn btn-primary" color="primary"
                            (click)="updateSupplyButton(supply)">
                                Update
                            </button>
                        </li>
                        <li class="list-group-item" *ngIf="supply.dateArrived == null">
                            <button mat-raised-button type="button" class="btn btn-primary" color="primary" 
                            (click)="supplyArrived(supply.supplyID)">
                                Arrived
                            </button>
                        </li>
                        <li class="list-group-item" *ngIf="supply.dateArrived == null">
                            <button mat-raised-button type="button" class="btn btn-primary" color="warn"
                            (click)="deleteSupply(supply.supplyID)">
                                Remove
                            </button>
                        </li>                        
                    </ul>
                </mat-expansion-panel-header>
                <br>
                <strong>Material supplies</strong>
                <br>
                <mat-panel-description>                    
                    <ul class="list-group list-group-numbered">
                        <li class="list-group-item">Material name</li>
                        <li class="list-group-item">Amount</li>
                        <li class="list-group-item">Price per unit (RSD)</li>
                        <!-- <li class="list-group-item" *ngIf="supply.dateArrived == null">
                            <button type="button" class="btn btn-primary" disabled>Update Material Supply</button>
                        </li> -->
                    </ul>
                    <ul class="list-group list-group-numbered" *ngFor="let matSupply of supply.materialSupplyList">
                        <li class="list-group-item">{{printName(matSupply.materialSupplyPK.materialID)}}</li>
                        <li class="list-group-item">{{matSupply.amount}}</li>
                        <li class="list-group-item">{{matSupply.price}}</li>
                        <!-- <li class="list-group-item" *ngIf="supply.dateArrived == null">
                            <button type="button" class="btn btn-primary">Update</button>
                        </li> -->
                    </ul>
                    <button type="button" class="btn btn-primary" *ngIf="supply.dateArrived == null" 
                    (click)="updateMaterialSupplyClick(supply.materialSupplyList)">
                        Update Material Supply
                    </button>
                </mat-panel-description>
            </mat-expansion-panel>
            
        </mat-accordion>
    </div>    
    <br>
    <button type="button" class="btn btn-primary col-2" (click)="addSupplyButton = true">Add supply</button>  
    <mat-divider></mat-divider>
    <br>
    <div class="container" *ngIf="addSupplyButton">                
        <form>
            <fieldset class="mb-3 row">
                <legend class="col-form-legend col-5">Add new Supply</legend>                    
            </fieldset>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Supplier name</mat-label>
                    <input type="text" matInput class="form-control" name="name" id="name" required [(ngModel)]="name">                                            
                </mat-form-field>            
            </div>                   
            <div class="mb-3 row" *ngFor="let materials of materialSupply; let i = index">
                <mat-form-field class="col-3">
                    <mat-label for="inputName" class="col-4 col-form-label">Material</mat-label>
                    <mat-select required name="category" id="category" [(value)]="materials.materialID" 
                    (selectionChange)="onChangeMaterial($event, i)">
                        <mat-option *ngFor="let material of materialSelect" [value]="material.materialID">
                            {{material.name}}
                        </mat-option>
                    </mat-select>                        
                </mat-form-field>
                <mat-form-field class="col-3">
                    <mat-label for="inputName" class="col-4 col-form-label">Amount</mat-label>
                    <input type="number" matInput min="1" [(ngModel)]="materials.amount" name="amount" id="amount" required >                        
                </mat-form-field>
                <mat-form-field class="col-3">
                    <mat-label for="inputName" class="col-4 col-form-label">Price</mat-label>
                    <input type="number" matInput min="1" [(ngModel)]="materials.price" class="form-control" name="price" id="price" required>                        
                </mat-form-field>
                <div class="col-3">
                    <button type="submit" color="warn" mat-raised-button class="btn btn-primary" (click)="removeMaterial(i)">
                        Remove Material
                    </button>
                </div>            
            </div>
            <div class="col-3">
                <button type="submit" mat-raised-button class="btn btn-primary" (click)="addMoreMaterial()">Add More Materials</button>
            </div>                            
            <div class="mb-3 row">
                <div class="offset-sm-5 col-sm-8">
                    <button type="submit" mat-raised-button class="btn btn-primary" (click)="saveSupply()">Add</button>
                </div>
            </div>
            <div class="alert alert-primary" role="alert" *ngIf="dataNotFilled">
                <strong>Data not filled:</strong> Fill all data
            </div>            
        </form>
    </div>  

    <div class="container" *ngIf="updateSupply">                
        <form>
            <fieldset class="mb-3 row">
                <legend class="col-form-legend col-5">Update Supply</legend>                    
            </fieldset>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Supplier name</mat-label>
                    <input type="text" matInput class="form-control" name="name" id="name" required [(ngModel)]="updateName">                                            
                </mat-form-field>            
            </div>
            <div class="mb-3 row">
                <mat-form-field>
                    <mat-label for="inputName" class="col-4 col-form-label">Date signed</mat-label>                                        
                    <input matInput [matDatepicker]="dateSigned" [(ngModel)]="updateDateOrdered"
                    [max]="this.minMaxDate" class="form-control" name="dateSigned" id="dateSigned" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="dateSigned"></mat-datepicker-toggle>
                    <mat-datepicker #dateSigned></mat-datepicker>
                </mat-form-field>            
            </div>                                                                       
            <div class="mb-3 row">
                <div class="offset-sm-5 col-sm-8">
                    <button type="submit" mat-raised-button class="btn btn-primary" (click)="updateSupplyButtonClick()">
                        Update
                    </button>
                </div>
            </div>                        
        </form>
    </div>

    <div class="container" *ngIf="updateMaterialSupplyBool">                
        <form>
            <fieldset class="mb-3 row">
                <legend class="col-form-legend col-5">Update Material Supply</legend>                    
            </fieldset>
            <div class="mb-3 row" *ngFor="let materials of updateMaterialSupply; let i = index">
                <mat-form-field class="col-3">
                    <mat-label for="inputName" class="col-4 col-form-label">Material</mat-label>
                    <mat-select required name="category" id="category" [(value)]="materials.materialSupplyPK.materialID" 
                    (selectionChange)="onChangeMaterialUpdate($event, i)">
                        <mat-option *ngFor="let material of materialSelect" [value]="material.materialID">
                            {{material.name}}
                        </mat-option>
                    </mat-select>                        
                </mat-form-field>
                <mat-form-field class="col-3">
                    <mat-label for="inputName" class="col-4 col-form-label">Amount</mat-label>
                    <input type="number" matInput min="1" [(ngModel)]="materials.amount" class="form-control" name="updateAmount" id="updateAmount" required>                        
                </mat-form-field>
                <mat-form-field class="col-3">
                    <mat-label for="inputName" class="col-4 col-form-label">Price</mat-label>
                    <input type="number" matInput min="1" [(ngModel)]="materials.price" class="form-control" name="updatePrice" id="updatePrice" required>                        
                </mat-form-field>
                <div class="col-3">
                    <button type="submit" color="warn" mat-raised-button class="btn btn-primary" (click)="removeUpdateMaterial(i)">
                        Remove Material
                    </button>
                </div>            
            </div>                        
        </form>
        <div class="col-3">
            <button type="submit" mat-raised-button class="btn btn-primary" (click)="addMoreUpdateMaterial()">Add More Materials</button>
        </div>                            
        <div class="mb-3 row">
            <div class="offset-sm-5 col-sm-8">
                <button type="submit" mat-raised-button class="btn btn-primary" (click)="updateMaterialSupplyClickFinal()">
                    Update Material Supply
                </button>
            </div>
        </div>
    </div>

</app-main-nav>